body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Substitua pela cor que desejar */
  }
  html {
    margin: 0;
    padding: 0;
  }
  
  
  h3{
    top: 260px;
    position: absolute;
  }

  form {
    background-color: #ffffff; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
   button{
    margin-top: 10px;
    margin-left: 60px;
   }
   #resultado{
    top: 460px;
    position: absolute;
   }