@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&family=Mukta:wght@300&family=Orbitron:wght@900&display=swap');


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: none;
  font-family: 'Orbitron', sans-serif;
  background-color: #ffc40e;
}



h3{
  top: 200px;
  position: absolute;
  font-size: 34px;
  color: #060607;
}


form {
  position: absolute;
  top: 250px;
  color: #060607;
  background-color: #fdf7c7; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
button{
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bold;
  background-color: #fb3a29;
  border: none;
  border-radius: 1em;

}
#search{
  width: 100px;
  height: 50px;
}
input{
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
#resultado{
  width: 250px;
  height: 280px;
  border-radius: 8px;
  background-color: #fdf7c7;
  color: #060607;
  top: 380px;
  z-index: 2;
  position: absolute;
}
#resultado b{
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
}
#resultado button{
  position: absolute;
  left: 45px;
  padding: 10px;
  font-weight: bold;

}
.info{
  position: absolute;
  display: flex;
  top: 500px;
}

@media (max-width: 600px) {
  
  h3{
    top: 20%;
  }

  form{
    top: 30%;
  }
  
  #resultado{
    top: 50%;
  }
  #resultado button{
    top: 80%;
  }
}