<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search CEP</title>
</head>
<body>
  
  <h3>Consultar CEP</h3>
  <form 
    class=""
    #cepForm
    (ngSubmit)="pesquisa()">

    <div>
      <label for="cep">CEP:</label>
      <input name="cep" type="text" [(ngModel)]="cep">
    </div>
    
    <div class="btn btn-primary btn-sm btn-icon-split">
      <span class="icon text-white-80">
        <i class="fas fa-home"></i>
      </span>
      <button class="btn btn-primary btn-sm" type="submit">Pesquisar</button>
    </div>
  </form>
  
  <br>
  
  <div class="ml-2 spinner-border spinner-border-sm" [hidden]="!espera"></div>
  
  <div id="resultado"  class="shadow-lg mx-4" [hidden]="!pesquisado">
    <b>CEP pesquisado:</b> {{cep}}
    <br><b>Rua encontrada:</b> {{retorno.rua}}
    <br><b>Na cidade:</b> {{retorno.cidade}}
    <br><b>Do estado: </b>{{retorno.estado}}
    <br><br><br><button (click)="limpa()">Reinicia</button>
 </div>

</body>
</html>
